.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}
#lezioni .row img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#lezioni {
  text-align: center;
}
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}
#steps {
  text-align: center;
}
#why {
  text-align: center;
}
#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}
#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}
.row::after {
  content: '';
  display: table;
  clear: both;
}
.container.grey {
  background-color: #f9f9f9;
}
img {
  height: 200px;
}
.clear {
  clear: both;
}
@media screen and (max-width: 420px) {
  #lezioni>.row{
    background-color: lightgreen;
  }
  #lezioni .row>.left,#lezioni .row>.right{
    width: 100%;
    display: block;
    margin: 40px 0;
  }
  #lezioni h1{
    color:red;
    font-size: 100px;
  }
  #lezioni img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid red;
    background-color: white;
  }
  #lezioni .left h3,#lezioni .right h3{
    font-size: 80px;
    margin: 30px 0;
    color: white;
  }
  #lezioni>.row>.left:not(img,h3),#lezioni>.row>.right:not(img,h3){
    font-size: 70px;
    font-weight: bold;
    line-height: 100px;
  }
  #steps>.row>h1{
    color:red;
    font-size: 100px;
  }
  #steps>.row>.left>img,#steps>.row>.central>img,#steps>.row>.right>img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid lightgreen;
    margin-top: 60px;
    background-color: red;
  }
  #steps>.row>.left>h3,#steps>.row>.central>h3,#steps>.row>.right>h3{
    font-size: 80px;
    color: blue;
    margin: 30px 0;
  }
  #steps>.row>.left,#steps>.row>.central,#steps>.row>.right{
    width: 100%;
  }
  #steps>.row>.left:not(img,h3),#steps>.row>.central:not(img,h3),#steps>.row>.right:not(img,h3){
    font-size: 70px;
    font-weight: bold;
    line-height: 100px;
  }
  #why>.row{
    background-color: red;
  }
  #why>.row>h1{
    color:red;
    font-size: 100px;
  }
  #why>.row>.first,#why>.row>.second,#why>.row>.third{
    margin-top: 100px;
  }
  #why>.row>.first>img,#why>.row>.second>img,#why>.row>.third>img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid green;
  }
  #why>.row>.first>h3,#why>.row>.second>h3,#why>.row>.third>h3{
    font-size: 80px;
    color: white;
  }
  #why>.row>.first:not(img,h3),#why>.row>.second:not(img,h3),#why>.row>.third:not(img,h3){
    font-size: 70px;
    font-weight: bold;
    line-height: 100px;
  }
  #why>.row>.second>hr,#why>.row>.first>hr{
    display: none;
  }
}
